*{
  margin:0;
  padding:0;
  font-family:verdana;
}
body{
  overflow-x: hidden;
}
header{
  background-color: aquamarine;
}
span
{
  color: white;
}
#header-bg{
  width:100%;
  height:100vh;
  background-image: url("../images/skider-connaissance-de-ceylan-1.jpg");
  background-size: cover;
  opacity: 0.8;
  vertical-align: middle;
}
nav{
  width: 100%;
  height: 50px;
  background-color: #0005;
  line-height: 50px;
}
nav ul{
  float: right;
  margin-right: 30px;
  padding-right: 5px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#088;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}
.features{
  width: 100%;
  height: 50px;
  background-color: #0005;
  line-height: 50px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  text-align: center;
}
.typed-out
{
  overflow: hidden;
  align-items: justify;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 1s steps(40, end) forwards;
  font-size: 3.6rem;

}
  @keyframes typing {
  from { width: 0 }
  to { width: 100% }
  }
#social-btn a {
  position: absolute;
  right: -60px;
  transition: 0.3s;
  padding: 15px;
  width: 80px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 15px 0 0 15px;
}
#social-btn a:hover {
  right: 0;
} 
#facebook {
  top: 230px;
  background-color: #0004ff;
}  
#twitter {
  top: 270px;
  background-color: #2196F3;
} 
#youtube {
  top: 310px;
  background-color: #f44336;
} 
#linkedin{ 
  top: 350px;
  background-color: rgb(15, 95, 141);
}
.container {
  position: relative;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: azure;
}
.container .content {
  position: absolute;
  left: 60%;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 50%;
  padding: 20px;
}
.txt-content{
  padding-top:30px;
  padding-bottom: 30px;
  padding-left: 20px;
  background:#088;
  color:#fff;
  text-align:center;
  display: inline-block;
  width: 100%;
}
.txt-content a{
  text-decoration: none; 
  color: #088;
}
.txt-content h2{
  padding: 10px;
  text-transform: uppercase;
  font-size: 2.7em;
  color: rgba(0,0,0,.5);
}
.txt-content p{
  line-height: 180%;
  float: left;
  padding-bottom: 20px;
}
.txt2-content{
  padding:20px;
  background: #fff;
  color:#088;
  text-align:center;
  display: inline-block;
  border: 1px solid #fff;
  width: 40%;
}
.txt2-content h3{
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.7em;
  color: rgba(0,0,0,.5);
}
.txt2-content .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.txt2-content .button1{
  background-color: white; 
  color: black; 
  border: 2px solid #088;
  font-style: none ;
}

.txt2-content .button1:hover {
  background-color: #088;
  color: #fff;
  border: 2px solid #fff;
  background-color: #088;
  box-shadow: 10px 10px 5px grey;
}
.icon-container
{
  margin: 0px auto;
  width: 1200px;
  text-align: center;
}
#icon-box
{
  overflow: hidden;
  padding: 2em 0em;
  text-align: center;
  color: #088;
}

#featured
{
  overflow: hidden;
}
#featured .icon
{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0px auto 20px auto;
  line-height:  100px;
  font-size: 3em;
  text-align: center;
  color: #FFF;
}
#icon-box .fa{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0px auto 20px auto;
  line-height:  100px;
  font-size: 3em;
  text-align: center;
  color: #088;
}
.column1,  .column2,  .column3,  .column4
{
  width: 282px;
}

.column1,  .column2
{
  float: left;
  margin-right: 24px;
}

.column3
{
  float: left;
}

.column4
{
  float: right;
}
hr{
  width: 150px;
  height: 1px;
  color: #FFF;
}
input[type=text]{
  width: 200px;
  display: inline-block;
  border: 1px solid #fff;
  color: #088;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
.cards-column .cards-content 
{
  padding-left: 250px;
  padding-right: 200px;
  padding-bottom: 5px;
  background-color: white;
  font-size: 15px;
}
.cards-column 
{
  padding-top: 40px;
  font-family: Garamond, serif;
}
.cards-column.cards-content 
{
  padding-left: 250px;
  padding-right: 200px;
  padding-bottom: 5px;
  background-color: white;
  font-size: 15px;
}
.img{
  height: 180px;
  width: 100%;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  display: inline-block;
  padding: 5px;
}
.cards:hover {
  box-shadow: 0 8px 16px 0 #088;
}
.cards-container {
  padding: 2px 14px;
  width: 100%;
  height: 80px;
}
.cards-container p{
  text-align: center;
  font-size: 12px;
}
.cards-container h4{
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #088;
}
.row:after 
{
  content: "";
  display: table;
  clear: both;
  padding-bottom: 20px;
}
.footer{
  background-color: darkslategrey;
  padding-top: 50px;
  padding-left: 10%;
  padding-bottom: 20px;
  width: 90%;
  height: auto;
}
.footer h5{
  color: white;
  font-size: 18px;
}
.footer p{
  color: #088;
  font-size: 15px;
}
.footer a{
  text-decoration: none;
  color: #088;
}
.footer i{
  color:#fff
}
.footer tr{
  padding: 20px;
}
.footer td{
  display: table-cell;
  padding: 10px;
}
.copyright{
  width: 100%;
  text-align: center;
  background-color: rgb(9, 29, 29);
  color: #fff;
  height: 20px;
  bottom:0;
  padding: 3px;
  font-size: 10px;; 
}
.copyright a{
  color: #FFF;
}